<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}MyEnglish{% endblock %}</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .nav-item .btn {
            color: #ffffff;
            background-color: #007bff;
            border: none;
            margin-right: 10px;
            transition: background-color 0.3s;
        }

        .nav-item .btn:hover {
            background-color: #0056b3;
        }

        .nav-item .btn.active {
            background-color: #0056b3;
            color: #ffffff;
        }
    </style>
</head>
<body>
<!-- Меню навигации -->
<nav class="bg-white shadow-md border-b border-gray-300">
    <div class="container mx-auto px-4 py-4 flex items-center justify-between">
        <a class="flex items-center space-x-2" href="#">
            <img src="{% static 'images/logo.png' %}" alt="MyEnglish Logo" class="w-8 h-8">
            <span class="text-xl font-semibold">MyEnglish</span>
        </a>
        <div class="space-x-4">
            <a href="{% url 'vocabulary' %}" class="{% if request.resolver_match.url_name == 'vocabulary' %}text-blue-600{% else %}text-gray-700{% endif %} hover:underline">Vocabulary</a>
            <a href="{% url 'profile' %}" class="{% if request.resolver_match.url_name == 'profile' %}text-blue-600{% else %}text-gray-700{% endif %} hover:underline">Profile</a>
            <form method="post" action="{% url 'logout' %}" class="inline-block">
                {% csrf_token %}
                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition duration-300 ease-in-out">Logout</button>
            </form>
        </div>
    </div>
</nav>

<!-- Основное содержимое страницы -->
<div class="container mx-auto px-4 mt-10">
    {% block content %}{% endblock %}
</div>

</body>
</html>
